In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
column_names = ["A", "G", "CP", "BP", "CH", "ECG", "HR", "EIA", "HD"]

df = pd.read_csv(
        './Data/data-train-1.txt',
        header=None, 
        names=column_names
    ).astype("category")
df.head()

   A  G CP BP CH ECG HR EIA HD
0  3  2  4  2  2   2  1   2  2
1  3  2  4  1  2   2  1   2  2
2  1  2  3  2  2   1  2   1  1
3  1  1  2  2  2   2  2   1  1
4  3  2  2  1  2   1  2   1  1

In [3]:
pt1 = df['A']
pt1 = pt1.groupby(pt1).count()

In [4]:
pt1 / pt1.sum()

A
1    0.176955
2    0.308642
3    0.514403
Name: A, dtype: float64

In [5]:
pt2 = df[['BP', 'G']].sort_values(['G', 'BP'])
pt2.head()

   BP  G
6   1  1
21  1  1
41  1  1
70  1  1
83  1  1

In [6]:
pt2.groupby('G').size()

G
1     82
2    161
dtype: int64

In [7]:
pt2_2 = pt2[df.G == 1].groupby('BP').count()
pt2_2 / pt2_2.sum()

/Users/sanchitnevgi/anaconda3/envs/commonsense/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

           G
BP
1   0.365854
2   0.634146

In [8]:
pt2_2 = pt2[df.G == 2].groupby('BP').count()
pt2_2 / pt2_2.sum()

/Users/sanchitnevgi/anaconda3/envs/commonsense/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

          G
BP
1   0.47205
2   0.52795

In [9]:
pt3 = df[['HD', 'BP', 'CH']].sort_values(['CH', 'BP', 'HD'])
pt3

    HD BP CH
37   1  1  1
41   1  1  1
42   1  1  1
82   1  1  1
91   1  1  1
..  .. .. ..
226  2  2  2
227  2  2  2
231  2  2  2
237  2  2  2
241  2  2  2

[243 rows x 3 columns]

In [10]:
pt3.groupby(['CH', 'BP', 'HD']).size()

CH  BP  HD
1   1   1     10
        2      9
    2   1     13
        2      9
2   1   1     51
        2     36
    2   1     59
        2     56
dtype: int64

In [11]:
# Sanity check
pt3.query('BP == 1 and CH == 1')

    HD BP CH
37   1  1  1
41   1  1  1
42   1  1  1
82   1  1  1
91   1  1  1
126  1  1  1
133  1  1  1
151  1  1  1
172  1  1  1
178  1  1  1
24   2  1  1
30   2  1  1
47   2  1  1
52   2  1  1
84   2  1  1
112  2  1  1
187  2  1  1
233  2  1  1
235  2  1  1

In [12]:
print(10 / 19)
print(9 / 19)
print(13 / 22)
print(9 / 22)
print(51 / 87)
print(36 / 87)
print(59 / 115)
print(56 / 115)

0.5263157894736842
0.47368421052631576
0.5909090909090909
0.4090909090909091
0.5862068965517241
0.41379310344827586
0.5130434782608696
0.48695652173913045

In [13]:
pt4 = df[['HR', 'A', 'HD']]
pt4.head()

  HR  A HD
0  1  3  2
1  1  3  2
2  2  1  1
3  2  1  1
4  2  3  1

In [14]:
pt4.groupby(['HD', 'A', 'HR']).size()

HD  A  HR
1   1  1      2
       2     31
    2  1      9
       2     43
    3  1     16
       2     32
2   1  1      6
       2      4
    2  1     12
       2     11
    3  1     44
       2     33
dtype: int64

In [15]:
df.head()

   A  G CP BP CH ECG HR EIA HD
0  3  2  4  2  2   2  1   2  2
1  3  2  4  1  2   2  1   2  2
2  1  2  3  2  2   1  2   1  1
3  1  1  2  2  2   2  2   1  1
4  3  2  2  1  2   1  2   1  1

In [16]:
parameters = df.groupby(['A', 'G', 'CP', 'BP', 'CH', 'ECG', 'HR', 'EIA', 'HD'])
parameters.size()

A  G  CP  BP  CH  ECG  HR  EIA  HD
1  1  1   1   1   1    1   1    1     0
                                2     0
                           2    1     0
                                2     0
                       2   1    1     0
                                     ..
3  2  4   2   2   2    1   2    2     6
                       2   1    1     1
                                2     2
                           2    1     0
                                2     1
Length: 1536, dtype: int64

In [17]:
keys = []
parameters = np.array(list(groups.keys()))
parameters.shape

NameError: name 'groups' is not defined

In [ ]:
test_1 = pd.read_csv('./Data/data-test-1.txt', header=None, names=column_names).astype("category")
test_1.head()

In [ ]:
len(parameters_1[(3,  2,  4,   2,   2,   2,    1,   1,    2)])

In [ ]:
def get_data(path):
    data = pd.read_csv(path, header=None, names=column_names).astype("category")
    return data

In [ ]:
def get_parameters(train_data):
    return train_data.groupby(['A', 'G', 'CP', 'BP', 'CH', 'ECG', 'HR', 'EIA', 'HD']).groups

In [ ]:
def inference(parameters, test_data):
    pred_count = 0

    for i, test_case in test_data.iterrows():
        features = test_case.to_list()
        values = features[:8]
        true_label = features[8]

        values_hd_1 = tuple(values + [1])
        values_hd_2 = tuple(values + [2])

        try:
            count_hd_1 = len(parameters[values_hd_1])
        except:
            count_hd_1 = 0

        try:
            count_hd_2 = len(parameters[values_hd_2])
        except:
            count_hd_2 = 0

        pred = 1 if count_hd_1 >= count_hd_2 else 2

        if pred == true_label:
            pred_count += 1

    acc = pred_count / len(test_1)
    return acc

In [ ]:
accuracies = []
for i in range(5):
    acc = inference(get_parameters(get_data(f'./Data/data-train-{i + 1}.txt')), 
                    get_data(f'./Data/data-test-{i + 1}.txt'))
    accuracies.append(acc)

In [ ]:
accuracies = np.array(accuracies)
print('Mean accuracy', accuracies.mean())
print('Std dev', accuracies.std())

In [ ]:
p_a = df[['CH', 'G', 'A']].query('G == 2 and A == 2').groupby(['CH']).size()
p_a

In [ ]:
p_a_b = df[['HD', 'BP', 'CH']].query('BP == 1 and CH == 2').groupby(['HD']).size()
p_a_b

In [ ]:
a = 0.166 * 0.52631
b = 0.834 * 0.5862

print('5 (a)')
print(a / (a + b), b / (a + b))

In [ ]:
# HD = No | BP = L, CH = H
p_b_1 = df[['HD', 'BP', 'CH']].query('BP == 1 and CH == 2').groupby(['HD']).size()
print(p_b_1)

# P(HD = No)
print(51 / (87))

In [ ]:
# P(G = 1)
p_b_2 = df[['G']].groupby(['G']).size()
print(p_b_2)

print(82 / (82 + 161))

In [ ]:
df[['BP', 'G']].query('G == 1').groupby(['BP']).size()
print('P(BP = L | G = 1)', 30 / 82)

df[['BP', 'G']].query('G == 2').groupby(['BP']).size()
print('P(BP = L | G = 2)', 76 / (76 + 85))

In [ ]:
df[['CH', 'A', 'G']].query('G == 1 and A == 2').groupby(['CH']).size()
print('P(CH = H | A = 2, G = 1)', 18 / 21)

df[['CH', 'A', 'G']].query('G == 2 and A == 2').groupby(['CH']).size()
print('P(CH = H | A = 2, G = 2)', 45 / 54)

In [ ]:
p_1 = 0.586 * (0.337 * 0.336 * 0.857 + 0.663 * 0.472 * 0.833)

print('P(BP = L | ...)', p_1)

In [ ]:
df[['HD', 'BP', 'CH']].query('BP == 2 and CH == 2').groupby(['HD']).size()
print('P(HD = No | BP = H, CH = 2)', 59 / (59 + 56))

In [ ]:
df[['BP', 'G']].query('G == 1').groupby(['BP']).size()
print('P(BP = H | G = 1)', 52 / 82)

df[['BP', 'G']].query('G == 2').groupby(['BP']).size()
print('P(BP = H | G = 2)', 85 / (76 + 85))

In [ ]:
p_2 = 0.513 * (0.337 * 0.634 * 0.857 + 0.663 *0.528 * 0.833)

print('P(BP = H | ...)', p_2)

In [ ]:
print('BP = L', p_1 / (p_1 + p_2))
print('BP = H', p_2 / (p_1 + p_2))

In [ ]:
def get_hd(df):
    def get_p(features, group_by):
        counts = df[features].groupby(group_by).size().to_numpy()
        return counts / counts.sum()
    
    # P(HD | BP, CH)
    p_hd__bp_ch = get_p(['HD', 'BP', 'CH'], ['HD'])
    print(p_hd__bp_ch)
    
    # P(HD|CP)
    print(get_p(['HD', 'CP'], ['HD']))
    
    # P(EIA | HD)
    print(get_p(['HD', 'EIA'], ['HD']))
    print(df[['HD', 'ECG']])
    
    # P(ECG | HD)
    print(df[['ECG', 'HD']].groupby(['ECG']).size())
    
    # P(HR | HD, A)
    print(df[['HR', 'HD', 'A']].groupby(['HR']).size())
    
get_hd(df)

In [ ]:
def get_p(df, features, values, group_by=["HD"]):
    query = ' and '.join([f'{feat} == {val}' for feat, val in zip(features[1:], values)])
    counts = df[features].query(query).groupby(group_by).size().to_numpy()
    prob = counts / (counts.sum())

    return prob

In [ ]:
def infer(data, test_cases):
    hd = data.groupby(["HD"]).size().to_numpy()
    correct_preds = 0
    total_preds = len(test_cases)
    
    for i, test_i in test_cases.iterrows():
        A, G, CP, BP, CH, ECG, HR, EIA, HD = test_i
        
        bh_ch = get_p(data, ["HD", "BP", "CH"], [BP, CH])
        cp = get_p(data, ["HD", "CP"], [CP])
        eia = get_p(data, ["HD", "EIA"], [EIA])
        ecg = get_p(data, ["HD", "ECG"], [ECG])
        a_hr = get_p(data, ["HD", "A", "HR"], [A, HR])
        
        a = get_p(data, ["HD", "A"], [A])    
        
        p_hd = (bh_ch * cp * eia * ecg * a_hr) / (a * (hd **2))
        
        pred = np.argmax(p_hd) + 1
        if pred == HD:
            correct_preds += 1

    return correct_preds / total_preds

In [ ]:
infer(get_data('./Data/data-train-1.txt'), get_data('./Data/data-test-1.txt'))

In [ ]:
accuracies = []
for i in range(5):
    acc = infer(get_data(f'./Data/data-train-{i + 1}.txt'), 
                    get_data(f'./Data/data-test-{i + 1}.txt'))
    accuracies.append(acc)
accuracies = np.array(accuracies)

print(accuracies)
print('Mean accuracy', accuracies.mean())

# Better Modelling

## Model 1
Add an edge from G to HD

## Model 2
Invert edge from HR and HD

In [ ]:
# Get train and test files
data = []
for i in range(5):
    data.append((get_data(f'./Data/data-train-{i + 1}.txt'), get_data(f'./Data/data-test-{i + 1}.txt')))

In [ ]:
def cross_validation(inference):
    accuracies = []
    for i in range(5):
        acc = inference(*data[i])
        accuracies.append(acc)
    accuracies = np.array(accuracies)

    print(accuracies)
    print('Mean accuracy', accuracies.mean())
    print('STD', accuracies.std())

In [ ]:
def infer_2(data, test_cases):
    hd = data.groupby(["HD"]).size().to_numpy()
    correct_preds = 0
    total_preds = len(test_cases)
    
    for i, test_i in test_cases.iterrows():
        A, G, CP, BP, CH, ECG, HR, EIA, HD = test_i
        
        bh_ch = get_p(data, ["HD", "BP", "CH", "G"], [BP, CH, G])
        cp = get_p(data, ["HD", "CP"], [CP])
        eia = get_p(data, ["HD", "EIA"], [EIA])
        ecg = get_p(data, ["HD", "ECG"], [ECG])
        a_hr = get_p(data, ["HD", "A", "HR"], [A, HR])
        
        a = get_p(data, ["HD", "A"], [A])
        
        p_hd = (bh_ch * cp * eia * ecg * a_hr) / (a * (hd ** 3))
        
        pred = np.argmax(p_hd) + 1
        if pred == HD:
            correct_preds += 1

    return correct_preds / total_preds

cross_validation(infer_2)

In [ ]:
def infer_3(data, test_cases):
    hd = data.groupby(["HD"]).size().to_numpy()
    correct_preds = 0
    total_preds = len(test_cases)
    
    for i, test_i in test_cases.iterrows():
        A, G, CP, BP, CH, ECG, HR, EIA, HD = test_i
        
        bp_ch_g = get_p(data, ["HD", "BP", "CH", "HR"], [BP, CH, HR])
        cp = get_p(data, ["HD", "CP"], [CP])
        eia = get_p(data, ["HD", "EIA"], [EIA])
        ecg = get_p(data, ["HD", "ECG"], [ECG])
        
        p_hd = (bp_ch_g * cp * eia * ecg) / (hd ** 3)
        
        pred = np.argmax(p_hd) + 1
        if pred == HD:
            correct_preds += 1

    return correct_preds / total_preds

cross_validation(infer_3)